<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page de modification d'équipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center"  style="height: 90vh;">
        <div class="border p-5 rounded bg-light">
                        <div>
                            <h1>Modifier une équipe</h1>
                            <form method="POST" id="formulaire">
                                <label for="teamName">Ecrire le nom de l'équipe à modifier :</label><br>
                                <div id="team"></div><br>
                                <h2>Ajouter des joueurs</h2>
                                <label for="nbMember">Quel est le nombre de joueurs à ajouter dans l'équipe :</label><br>
                                <input type="number" id="nbMember" name="nbMember" min="3" max="5" value="3" ><br>
                                <label>Choissez les joueurs pour cette équipe :</label><br>
                                <div id="member"></div>
                                <input type="submit" name="submit" id="submit" class="btn btn-primary" value="Modifier" disabled>
                            </form>
                            <button class="btn btn-primary" id="button">Retour</button>
        </div></div></div>
        </div>
    </div>
    
    <script>
        let redirect = document.getElementById("button");
        redirect.addEventListener("click", function(){
            window.location.replace("../Controller/teamsController.php");
        });

        //traitement des données
        //les users
        dataUsers = document.getElementById("dataUsers").outerText;
        dataUsers = JSON.parse(dataUsers);

        //les équipes
        dataTeam = document.getElementById("dataTeam").outerText;
        dataTeam = JSON.parse(dataTeam);

        //les users avec leurs team
        dataUserTeam= document.getElementById("dataUserTeam").outerText;
        dataUserTeam = JSON.parse(dataUserTeam);

        
        //les joueurs de l'équipe courante
        function currentTeamMember(dataUT,team){
            data=[];
            for(let i=0;i<dataUT.length;i++){
                if (dataUT[i].idTeam == team){
                    data.push(dataUT[i]);
                }
            }
        return data;
        }

        //récupération d'élément qui existe dans la page
        const maDivTeam = document.getElementById('team');
        const maDiv = document.getElementById('member');

        //affichage de toutes les teams dans le select
        const selectTeam = document.createElement('select');
        selectTeam.name = 'teamName';
        selectTeam.id='teamName';
        let optionTeam = document.createElement('option');
        optionTeam.innerText = 'rien';
        optionTeam.value = null;
        selectTeam.appendChild(optionTeam);
        dataTeam.forEach(item => {
            let optionTeam = document.createElement('option');
            optionTeam.innerText = item.name;
            console.log(item.idTeam);
            optionTeam.value = item.idTeam;
            selectTeam.appendChild(optionTeam);
        });
        maDivTeam.appendChild(selectTeam);


        selectTeam.addEventListener('change',function (){
            createAddFieldsForTeamMates(maDiv,dataUsers, currentTeamMember(dataUserTeam,selectTeam.value));
        })
        
function createAddFieldsForTeamMates(container, dataUser, dataTeam){
    // Supprimer tous les sélecteurs existants à l'intérieur de maDiv
        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }

        const nb = document.getElementById("nbMember");
        quantity = Math.max(nb.value, dataTeam.length);
        nb.value = quantity;

        for (let i = 0; i < quantity; i++) {
            
            let select = document.createElement('select');
            select.name = 'selectTeam' + i;
            select.id=i;
            let div = document.createElement('div');
            let option = document.createElement('option');
            if(i<dataTeam.length){
                option.innerText = dataTeam[i].lastname + '\t' + dataTeam[i].firstname;
                option.value = dataTeam[i].idUser;
                select.appendChild(option);
            }
            else{
                option.innerText = 'Selectionnez';
                option.value = null;
                select.appendChild(option);
            }
            dataUser.forEach(item => {
                option = document.createElement('option');
                if (item.idUser != dataTeam[i]['idUser']){
                option.innerText = item.lastname + '\t' + item.firstname;
                option.value = item.idUser;
                }
                else {
                    option.innerText = 'Selectionnez';
                    option.value = null;
                }
                select.appendChild(option);

            });
            div.appendChild(select);
            
            radio = document.createElement('input');
            radio.setAttribute('type','radio');
            radio.setAttribute('name', 'captain');
            radio.setAttribute('value',i);
            if (i<1){
                radio.setAttribute('checked','checked');
            }            
            
            div.appendChild(radio);
            
            div.setAttribute('class',"mb-2");
            container.appendChild(div);
            console.log(i);
        }
} 

function modifyTeam(quantity, container, usersData=[], userTeam=[]){
    // Supprimer tous les sélecteurs existants à l'intérieur de maDiv
        while (container.children.length>quantity) {
            if (container.lastChild.lastChild.checked == true){
            container.removeChild(container.lastChild);
            container.lastChild.lastChild.checked = true;
            }else{
                container.removeChild(container.lastChild);
        }
        }

        if(quantity < userTeam.length){
            quantity=userTeam.length;
        }

        let options = makeAnOptionsList(usersData);

        for (let i = container.children.length; i < quantity; i++) {
            let div = document.createElement('div');
            let select = document.createElement('select');
            select.name = 'selectTeam' + i;
            select.id=i;
            
            let option = document.createElement('option');
            if(i<dataTeam.length){
                option.innerText = userTeam[i].lastname + '\t' + userTeam[i].firstname;
                option.value = userTeam[i].idUser;
                select.appendChild(option);
            }
            else{
                option.innerText = 'Selectionnez';
                option.value = null;
                select.appendChild(option);
            }
            options.forEach(option => {
                if(option.value != userTeam[i]){
                select.appendChild(option.cloneNode(true));
                }
                else{
                    let opt = document.createElement('option');
                    opt.innerText = 'Selectionnez';
                    opt.value = null;
                    select.appendChild(opt);
                }
            });
            
            div.appendChild(select);
            radio = document.createElement('input');
            radio.setAttribute('type','radio');
            radio.setAttribute('name', 'captain');
            radio.setAttribute('value',i);
            if (i<1){
                radio.setAttribute('checked','checked');
            }            
            div.appendChild(radio);
            div.setAttribute('class',"mb-2");
            container.appendChild(div);
        }
}

function makeAnOptionsList(usersData){
    let options = [] ;
    usersData.forEach( userData => {
        let option = document.createElement('option');
        option.innerText = userData.lastname + '\t' + userData.firstname;
        option.value = userData.idUser;
        options.push(option);
    });
    return options;
}

function selectsIsValid(selects) {
    for (let i = 0; i < selects.length; i++) {
        if (selects[i].value != "null") {
            for (let j = i+1; j < selects.length; j++) {
                if (selects[i].value == selects[j].value || selects[j].value == "null") {
                    return false;
                }
            }
        } else { 
            return false;
        }
    }
    
    return true;
}

const submit = document.getElementById('submit');
const form = document.getElementById('formulaire');
form.addEventListener('change', function (){
    let selects = maDiv.querySelectorAll('select');
    let valid = selectsIsValid(selects);
    
    if(valid == true){
        submit.removeAttribute('disabled');
    }
    else {
        submit.setAttribute('disabled',true);
    }
    })

let nb = document.getElementById("nbMember");
nb.addEventListener('input', function() {
    modifyTeam(nb.value,maDiv,dataUsers, currentTeamMember(dataUserTeam,selectTeam.value));   
});
    </script>
</body>