<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../View/bootstrap-5.3.1-dist/css/bootstrap.css">
    <title>Page d'équipe</title>
    <style>

        table {
            width: 50%;
            border-collapse: collapse;
        }

        tr{
            border: solid 2px #000000;
        }

        th, td {
            padding: 8px;
            text-align: left;
            
        }
    </style>
</head>
<body>
    <h1 class="container-fluid p-3 bg-white text-dark text-center">Voici les équipes</h1>
    <div class="container py-3 d-flex justify-content-center">
    <table id="teams" class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">Nom équipe</th>
              <th scope="col">Capitaine</th>
            </tr>
          </thead>
    </table>
</div>
    
    <div class="col text-center">
          <button id="button" class="btn btn-primary btn-lg">Ajouter une équipe</button>
          <button id="modification" class="btn btn-primary btn-lg">Modifier une équipe</button>
          <button id="valider" class="btn btn-primary btn-lg">Valider une équipe</button>
    </div>
    <script>
        let x = document.getElementById("button");
        x.addEventListener("click", function(){
            window.location.replace("../../Controller/Equipe/addTeamController.php");
        });
        let y = document.getElementById("modification");
        y.addEventListener("click", function(){
            window.location.replace("../../Controller/Equipe/teamUpdateController.php");
        });
        let z = document.getElementById("valider");
        z.addEventListener("click", function(){
            window.location.replace("../../Controller/Equipe/verifyTeamsController.php");
        });
        const table=document.getElementById("teams");
        dataTeams = document.getElementById("dataTeams").outerText;
        dataTeams = JSON.parse(dataTeams);
        dataTeams.forEach(team => {
            let body = document.createElement("tbody");
            let section = document.createElement("tr");
            let cell1 = document.createElement("td");
            let cell2 = document.createElement("td");
            let name = document.createTextNode(team.name);
            let captain = document.createTextNode(team.lastname + '\t' + team.firstname);
            cell1.appendChild(name); 
            cell2.appendChild(captain);
            section.appendChild(cell1);
            section.appendChild(cell2);
            body.appendChild(section);
            table.appendChild(body);
        });
    </script>
</body>