<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Changement de MDP</title>
    <link rel="stylesheet" href="../../View/bootstrap-5.3.1-dist/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center"  style="height: 70vh;">
    <div class="border p-5 rounded bg-light">
        <form method="POST" id="divForm">
            <div class="form-outline">
                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg">
                <br>
                <ul>
                    <li id="minuscule" class="text-danger">Au moins une minuscule</li>
                    <li id="majuscule" class="text-danger">Au moins une majuscule</li>
                    <li id="special" class="text-danger">Au moins un caractère spécial</li>
                    <li id="longueur" class="text-danger">Au moins 8 caractères</li>
                </ul>
                <input type="button" name="connect" class="btn btn-primary" id="Valider" onclick="MDPModif()" value="Valider" disabled></button>
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById('password').onkeyup = function() {
        var minuscule = /[a-z]/g;
        var majuscule = /[A-Z]/g;
        var special = /[\W_]/g;
        var valeur = this.value;


        if(valeur.match(minuscule)) {
            document.getElementById('minuscule').classList.remove('text-danger');
            document.getElementById('minuscule').classList.add('text-success');
        } else {
            document.getElementById('minuscule').classList.remove('text-success');
            document.getElementById('minuscule').classList.add('text-danger');
        }


        if(valeur.match(majuscule)) {
            document.getElementById('majuscule').classList.remove('text-danger');
            document.getElementById('majuscule').classList.add('text-success');
        } else {
            document.getElementById('majuscule').classList.remove('text-success');
            document.getElementById('majuscule').classList.add('text-danger');
        }


        if(valeur.match(special)) {
            document.getElementById('special').classList.remove('text-danger');
            document.getElementById('special').classList.add('text-success');
        } else {
            document.getElementById('special').classList.remove('text-success');
            document.getElementById('special').classList.add('text-danger');
        }

        if(valeur.length >= 8) {
            document.getElementById('longueur').classList.remove('text-danger');
            document.getElementById('longueur').classList.add('text-success');
        } else {
            document.getElementById('longueur').classList.remove('text-success');
            document.getElementById('longueur').classList.add('text-danger');
        }
        if (valeur.match(minuscule,majuscule,special) && valeur.length>=8){
            document.getElementById("Valider").disabled=false
        }
    };

    function MDPModif(){
        let newMDP=document.getElementById("password").value
        let token=window.location.search.split("=")[1]
        $.ajax({
            url:"../../Controller/Connexion/AjaxChangementMDP.php",
            type:"POST",
            data:{newMDP:newMDP,token:token},
            success: function (response){
                if(response.includes("Error") || response.includes("Warning") || response.includes("Exception")){
                    if (response.includes("Le token a expiré")) {
                        Swal.fire({
                            text: "Le token a expiré",
                            icon: "error",
                        })
                    }
                    else{
                        Swal.fire({
                            text: "Il y a eu une erreur lors de votre changement de mot de passe",
                            icon: "error",
                        })
                    }
                    console.log(response)
                }
                else{
                    Swal.fire({
                        text:"Votre mot de passe a été modifié",
                        icon:"success",
                    }).then(function (aller){
                        if(aller){
                            window.location.href="../../Controller/Connexion/ConnectionController.php"
                        }
                    })
                }
                console.log(response)
            },
            error: function (error){
                console.error(error)
            }
        })
    }
</script>
</body>
</html>