<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Consulter Cotisation</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>

        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        tr{
            border: 2px solid #000000;
        }
        /* CSS pour mettre en surbrillance la ligne sélectionnée */
        table tbody tr.selected {
            border: 4px solid #0a53be;
        }
    </style>
</head>
<body>


<header>

    <div class="container-fluid p-3 bg-white text-dark text-center">
        <h1>Consulter Cotisation</h1>
    </div>

    <div class="container-fluid p-3 bg-white text-dark text-center">
    <input type="text" id="filterInput" placeholder="Filtrer par prénom/nom">
    </div>

</header>




</body>
</html>