<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau d'Utilisateurs</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>

        table {
            width: 50%;
            border-collapse: collapse;
        }

        tr{
            border: solid 2px #000000;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>


<header>

    <div class="container-fluid p-3 bg-white text-dark text-center">
        <h1>Valider adhésion</h1>
    </div>

</header>




</body>
</html>